@media screen and ($desktop) {
    .container-3{
        height: 816px;
        padding:114px 16.1% 0 15.7%;

        h3{
            font-size: 31px;
            color:$font-color-3;
            margin-left:5px;
        }
        .img-container{
            left:2px;
            width: 108px;
            &::before,
            &::after{
                width:37px;
                top:50%;
            }
        }
        // --content under header--
        .content{
            @include flex;
            justify-content: space-evenly;
            margin-top:86px;

            .pic{
                background-color:$white;
                margin:11px 20px 0 0;
                img{
                    display:block;
                    max-width: 100%;
                    min-width:280px;
                    height: auto;
                }
            }
            // --right side--
            .info{
                margin:0;
                width: 568px;
                >h4{
                    width: 366px;
                    color:$font-color-3;
                    margin-top:6px;
                    font-size: 31px;
                    &::after{
                        display: none;
                    }
                }
                .desk-vers>p{  
                    width:578px;
                    color:$font-color-4;
                    margin-top: 22px;
                    font-size: 14px;
                    line-height: 27px;
                }
                .features{
                    @include flex;
                    flex-wrap: wrap;
                    margin-top:46px;
                    padding:0 4% 0 0.5%;
                    
                    // --each feature--
                    .feature{
                        @include flex;
                        width:45%;
                        margin-bottom:51px;
                        margin-right: -11px;
                        
                        div{
                            &:nth-child(1){
                                width:63px;
                                height:63px;
                                line-height: 76px;
                                padding-left: 20px;
                                background-color: $icon-bg;
                                border-radius: 50%;
                                
                            }
                            &:nth-child(2){
                                width: 75%;
                                margin-right:-11.5%;
                                h5{
                                    width:148px;
                                    font-size: 18px;
                                    color:$font-color-3;
                                    letter-spacing: -0.4px;
                                }
                                p{
                                    width:185px;
                                    margin-top: 10px;
                                    font-size: 13px;
                                    line-height: 22px;
                                    color:$font-color-4
                                }
                            }
                        }
                        //little exception
                        &:nth-child(2){
                            div:nth-child(1){
                                padding-left:23px;
                            }
                        }
                                               
                    }
                    
                }

            }
        }
        .tab-vers{
            display: none;
        }
        .desk-vers{
            display: block;
        }
        button{
            display:none;
        }
    }
}