.container-3{
    height: 799px;
    padding:37px 6.25% 0 6.25%;
    h3{
        font-size: 27px;
        font-weight:600;
        text-align: center;
        margin-left:1px;
        span{
            color:$main-aqua;
        }
    }
    >img{
        display: block;
        margin: 10px auto 0 auto;
        position: relative;
        left:-2px;
        
    }
    .pic{
        height: 207px;
        background-color: $black;
        margin-top: 36px;
        img{
            display: none;
        }
    }
    h4{
        font-size: 16px;
        font-weight: 600;
        margin-top:17px;
        letter-spacing: -0.4px;
        &::after{
            content: "";
            display: block;
            width: 99%;
            height: 1px;
            margin: 11px auto 0 auto;
            background-color:$pseudo-color;
        }
    }
    
    p{
        display: block;
        color:$font-color-2; 
        font-size: 13px;
        font-family: "Open Sans", sans-serif;
        margin-top:11px;
        line-height: 23px;
    }
    
    ul{
        @extend p;
        margin-top:33px;
        li{
            list-style: none;
            margin-left:31px;
            margin-bottom:19px;
            position: relative;
            &::before{
                content: "\f058";
                font-family: "Font Awesome 5 Free";
            color: $main-aqua;
            font-weight: 900;
            font-size: 16px;
            margin-right: 10px;
            position: absolute;
            left: -31px;
            top:1px;
            }
        }
    }
    // --controling version--
    .mob-vers{
        display: block;
    }
    .tab-vers{
        display: none;
    }
    .desk-vers{
        display: none
    }
    button{
        @include btn;
        width: 138px;
        height: 42px;
        margin-top:23px;
        padding-right:4px;
        padding-bottom: 1px;
    }
}