@media screen and ($tablet) {
    .container-2{
        height: 592px;
        padding-top: 151px;

        h2{
           font-size:58.81px; 
           margin-left:0;
        }
        h1{
            font-size: 71.77px;
            letter-spacing: -1.9px;
            margin-top:-5px;
        }
        p{
            font-size:18.94px;
            margin-top:4px;
            margin-left:-6px;
            font-weight:300;
            letter-spacing: -0.07px;
            span{
                display: inline;
            }
        }
        button{
            width:144px;
            height: 44px;
            margin-top:36px;
            margin-left:-6px;
            
            p{
                font-size:12px;
                font-weight: bold;
                width: 138px; 
                height:38px;
                margin:3px auto;
                line-height: 36px;
                letter-spacing: 0.4px;
                padding-right:3px;
            }
        }
    }
}