@media screen and ($desktop) {
    .container-4{
        background-color: $section-bg-2;
        height: 783px;
        padding:140px 0 0 0;
        h2{
            font-size:31px;
            margin-right:7px;
        }
        .img-container{
            margin-top:6px;
            width: 111px;
            left:0;
            img{
                top:-2px;
                left:0;
                scale:1;
            }
            &::before,
            &::after{
                width:37px;
                top:40%;
            }
        }
        
        .services{
            flex-direction: row;
            margin:141px auto 0 auto;
            min-width:61.2%;
            justify-content: space-between;
            position: relative;
            right:2px;
        }
    }

}