.container-4{
    height:1107.82px;
    background-color: $black;
    @include flex(column);
    justify-content: flex-start;
    color:$white;
    text-align: center;
    padding:36px 6.56% 0 5.93%;
    h2{
        @include h2-mobile;
        margin-left:2px;
    }
    .img-container{
        position: relative;
        width: 110px;
        margin:9px auto 0 auto;
        display:inline-block;
        img{
            position: relative;
            left:2px;
        }
        // --dashes before and after icon--
        @include dashes;
        &::before,
        &::after{
            width:36px;
            top:50%;
        }
    }       
    .services{
        @include flex(column);
        justify-content: flex-start;
        margin-top:55px;
        // --each service--
        .service{
            &:not(:last-child){
                margin-bottom:43px;
            }
            div{
                z-index: 0;
                position: relative;
                width: 130px;
                height: 140px;
                line-height: 140px;
                padding-right:12px;
                margin:0 auto;
                left:7px;
                img{
                    transition-duration: 0.4s;
                    &:not(:first-child){
                        position: absolute;
                        top:0;
                        left:0;
                    }
                    //should hide mini border and aqua background until hover
                    &:nth-child(2){
                        opacity: 0;
                    }
                    &:nth-child(4){
                        z-index: -1;
                        opacity: 0;
                    }
                }
                &:hover{
                    img{
                        &:nth-child(2),&:nth-child(4){
                            opacity: 1;
                        }
                        &:nth-child(3){
                            opacity: 0;
                        }
                    }
                }
            }
            //little adjustment for icons
            &:nth-child(1){
                div{
                    left:7.6px;
                    top:1px;
                    line-height: 149px;
                    padding-right:12px;
                }
            }
            &:nth-child(3){
                div{
                    line-height: 142px;;
                }
            }

            h3{
                font-size: 19px;
                color:$main-aqua;
                margin-top:38px;
                margin-left:2px;
            }
            p{
                font-family:"Open Sans", sans-serif;
                font-size: 12.98px;
                line-height: 20.88px;
                margin-top:13px;
                width: 280px;
                margin:13px auto 0 auto;
                letter-spacing: 0.2px;
            }
            
            &:nth-child(2),&:nth-child(3){
                h3{
                    letter-spacing: 0.3px;
                }
                p{
                    line-height: 22px;
                }
            }
            
        }
    }    
}