@media screen and ($tablet) {
    .container-4{
        height: 1287px;
        padding-top:72px;
        h2{
            @include h2-tablet;
            margin-left:6px;
        }
        .img-container{
            margin-top:13px;
            width: 104px;
            left:3px;
            img{
                left:0.3px;
                top:-1px;
                scale:0.95;
            }
            &::before,
            &::after{
                width:35px;
                top:35%;
            }
        }
        .services{
            margin-top:61px;
            .service{
                &:not(:last-child){margin-bottom:77px;}
                div{
                    left: 8px;
                    top:2px;
                    img:not(:first-child){
                        scale:1.06;
                    }
                }
                
                h3{
                    font-size:20px;
                    margin-top:44px;
                    margin-left:5px;
                }
                p{
                    width: 300px;
                    font-size: 14px;
                    line-height: 22px;
                    position: relative;
                    left:2.4px;
                }
                &:nth-child(1){
                    div{
                        left:8.6px;
                        
                    }
                } 

                &:nth-child(3){
                    div{
                        line-height: 140px;
                    }
                    h3{
                        letter-spacing: 0.1px;
                    }
                }
            }
        }
    }
    
}