@media screen and ($tablet) {
    .container-4{
        height: 1287px;
        padding-top:72px;
        h2{
            font-size: 28.99px;
            margin-left:6px;
        }
        >img{
            width:104px;
            margin-top:10px;
            position:relative;
            left:2px;
        }
        .services{
            margin-top:51px;
            .service{
                margin-bottom:74px;

                img{
                    width: 125px;
                }
                h3{
                    font-size:20px;
                    margin-top:67px;
                    margin-left:5px;
                }
                p{
                    width: 300px;
                    font-size: 14px;
                    line-height: 22px;
                    position: relative;
                    left:2px;
                }
                 // --each one needs adjustment--
                &:nth-child(1){
                    div{
                        img{
                            margin-left:0px;
                            margin-top:1px;
                        }
                    }
                }
                &:nth-child(2),&:nth-child(3){
                    img{
                        margin-left:0px;
                        margin-top:2px;
                    }
                    
                }
                &:nth-child(3){
                    h3{
                        letter-spacing: 0.1px;
                    }
                }
            }
        }
    }
    
}