.container-1{
    width: 100%;
    height: 67px;
    @include flex;
    background-color: $nav-bg;
    padding:0 6.56% 0 6.25%;
    align-items: center;

    .logo span{
        color: $white;
        font-size: 27.22px;
        font-weight: 300;
        margin-left:-5.5px;
        vertical-align: 1px;
        letter-spacing:0.5px;
    } 
    .nav-links{
        display: none;
    }
    .sandwich{
        width:48px;
        height:31px;
        background-color: $main-aqua;
        >div{
            border:1px solid $white;
            width:44.44px;
            height:27.44px;
            margin:1.76px auto;
            @include flex(column);
            justify-content:center;
            // --three lines--
            div{
                width:22px;
                height:2px;
                background-color: $white;
                margin:1.5px auto;
            }
        }
    } 
        
}