@media screen and ($tablet) {
    .container-1 {
        height: 108px;
        padding: 0 3.4% 0 3.25%;

        .logo {
            margin-top: -5px;

            img {
                height: 43px;
                width: 27px;
            }

            span {
                font-size: 36px;
                vertical-align: 3px;
                letter-spacing: 0.7px;
            }
        }

        .sandwich {
            width: 56px;
            height: 39px;

            >div {
                width: 52.44px;
                height: 35px;
                margin: 2px auto;

                // --three lines--
                div {
                    width: 30px;
                }
            }
        }
    }
}