$nav-bg:#0E0E0E;
$white:#ffffff;
$main-aqua:#3AB6B2;

$section-bg-1:#292929;
$section-bg-2:#202020;

// --container-3--
$black:#000000;
$pseudo-color:#E6E6E6;
$font-color-2:#525252;
$font-color-3:#323232;
$font-color-4:#6A6A6A;
$icon-bg:#3B3B3B;