@mixin flex($direction:row){
    display:flex;
    flex-direction:$direction;
    justify-content: space-between;
}

@mixin btn{
    cursor:pointer;
    border: none;
    font-weight: bold;
    font-size: 13px;
    font-family:"Raleway", sans-serif;
    color:$white;
    background-color:$main-aqua;
}

// --dashes before and after icon--
@mixin dashes{
    &::before,
    &::after{
        content: "";
        position: absolute;
        top: 56%;
        width: 33px;
        height: 1px;
        background-color: $dash-color;
    }
    &::before{
        left: 0;
    }
    &::after{
        right: 0;
    }
    img{
        display: block;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }
}