@import 'reset';
@import 'palette';
@import 'media-queries';
@import 'shared';
// --component-1--
@import './components/component-1/index';
// --component-2--
@import './components/component-2/index';
// --component-3--
@import './components/component-3/index';