* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.container-1 {
  height: 67px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0E0E0E;
  padding: 0 6.56% 0 6.25%;
  align-items: center;
}
.container-1 .logo span {
  color: #ffffff;
  font-size: 27.22px;
  font-weight: 300;
  margin-left: -5.5px;
  vertical-align: 1px;
  letter-spacing: 0.5px;
}
.container-1 .nav-links {
  display: none;
}
.container-1 .sandwich {
  width: 48px;
  height: 31px;
  background-color: #3AB6B2;
}
.container-1 .sandwich > div {
  border: 1px solid #ffffff;
  width: 44.44px;
  height: 27.44px;
  margin: 1.76px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
}
.container-1 .sandwich > div div {
  width: 22px;
  height: 2px;
  background-color: #ffffff;
  margin: 1.5px auto;
}

@media screen and (min-width: 768px) {
  .container-1 {
    height: 108px;
    padding: 0 3.4% 0 3.25%;
  }
  .container-1 .logo {
    margin-top: -5px;
  }
  .container-1 .logo img {
    height: 43px;
    width: 27px;
  }
  .container-1 .logo span {
    font-size: 36px;
    vertical-align: 3px;
    letter-spacing: 0.7px;
  }
  .container-1 .sandwich {
    width: 56px;
    height: 39px;
  }
  .container-1 .sandwich > div {
    width: 52.44px;
    height: 35px;
    margin: 2px auto;
  }
  .container-1 .sandwich > div div {
    width: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .container-1 {
    height: 101px;
    padding: 0 19.65% 0 19.5%;
  }
  .container-1 .logo {
    margin-top: 0px;
    margin-right: 10%;
  }
  .container-1 .logo img {
    height: 43px;
    width: 28px;
    margin-bottom: -2px;
  }
  .container-1 .logo span {
    vertical-align: 0;
  }
  .container-1 .nav-links {
    width: 63.1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-between;
  }
  .container-1 .nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: -0.2px;
    margin-top: -3px;
  }
  .container-1 .nav-links a:not(:last-child) {
    margin-right: 15px;
  }
  .container-1 .sandwich {
    display: none;
  }
}
.container-2 {
  height: 212px;
  color: #ffffff;
  background-color: #292929;
  text-align: center;
  padding-top: 45px;
}
.container-2 h2 {
  font-size: 25px;
  font-weight: 200;
  width: 200px;
  margin: 0 auto;
  position: relative;
  right: 2px;
}
.container-2 h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-top: -3px;
  letter-spacing: -0.8px;
  width: 240px;
  margin: -3px auto 0 auto;
  position: relative;
  right: 2px;
}
.container-2 > p, .container-3 .container-2 > ul {
  font-size: 9px;
  letter-spacing: -0.1px;
  width: 290px;
  margin: 1px auto 0 auto;
  position: relative;
}
.container-2 > p span, .container-3 .container-2 > ul span {
  display: none;
}
.container-2 button {
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  background-color: #3AB6B2;
  width: 64px;
  height: 19px;
  margin-top: 16px;
  margin-left: -3px;
}
.container-2 button p, .container-2 button .container-3 ul, .container-3 .container-2 button ul {
  width: 60px;
  height: 15px;
  margin: 2px auto;
  padding-left: 4px;
  border: 1px solid #ffffff;
  font-size: 7px;
  line-height: 14px;
  letter-spacing: 0.02px;
}
.container-2 div {
  display: none;
}

@media screen and (min-width: 768px) {
  .container-2 {
    height: 592px;
    padding-top: 151px;
  }
  .container-2 h2 {
    font-size: 58.81px;
    width: 440px;
    right: 1px;
  }
  .container-2 h1 {
    font-size: 71.77px;
    letter-spacing: -1.9px;
    margin-top: -5px;
    width: 550px;
    right: 2px;
  }
  .container-2 > p, .container-3 .container-2 > ul {
    width: 700px;
    font-size: 18.94px;
    margin: 4px auto 0 auto;
    font-weight: 300;
    letter-spacing: -0.07px;
    right: 2px;
  }
  .container-2 > p span, .container-3 .container-2 > ul span {
    display: inline;
  }
  .container-2 button {
    width: 144px;
    height: 44px;
    margin-top: 36px;
    margin-left: -6px;
  }
  .container-2 button p, .container-2 button .container-3 ul, .container-3 .container-2 button ul {
    font-size: 12.5px;
    font-weight: bold;
    width: 138px;
    height: 38px;
    margin: 3px auto;
    line-height: 36px;
    letter-spacing: 0.4px;
    padding-right: 3.1px;
  }
}
@media screen and (min-width: 1024px) {
  .container-2 {
    height: 759px;
    padding-top: 235px;
    position: relative;
  }
  .container-2 h2 {
    font-size: 62px;
    font-weight: 200;
    width: 500px;
    left: 11px;
  }
  .container-2 h1 {
    letter-spacing: -1px;
    width: 600px;
    left: 7px;
  }
  .container-2 > p, .container-3 .container-2 > ul {
    letter-spacing: 0.4px;
    margin-top: 6px;
    width: 800px;
    left: 9px;
  }
  .container-2 button {
    margin-top: 41px;
    margin-left: 23px;
  }
  .container-2 div {
    display: block;
  }
  .container-2 div img {
    position: absolute;
    top: 39.5%;
  }
  .container-2 div img:first-child {
    left: 2.1%;
  }
  .container-2 div img:last-child {
    right: 2.1%;
  }
}
.container-3 {
  height: 799px;
  padding: 37px 6.25% 0 6.25%;
}
.container-3 h3 {
  font-size: 27px;
  font-weight: 600;
  text-align: center;
  margin-left: 1px;
}
.container-3 h3 span {
  color: #3AB6B2;
}
.container-3 .img-container {
  position: relative;
  right: 2px;
  width: 96px;
  margin: 10px auto 0 auto;
}
.container-3 .img-container img {
  position: relative;
  left: 2px;
}
.container-3 .img-container::before, .container-3 .img-container::after {
  content: "";
  position: absolute;
  top: 56%;
  width: 33px;
  height: 1px;
  background-color: #D3D3D3;
}
.container-3 .img-container::before {
  left: 0;
}
.container-3 .img-container::after {
  right: 0;
}
.container-3 .img-container img {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.container-3 .img-container::before, .container-3 .img-container::after {
  width: 33px;
  top: 58%;
}
.container-3 .pic {
  height: 207px;
  background-color: #000000;
  margin-top: 36px;
}
.container-3 .pic img {
  display: none;
}
.container-3 h4 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 17px;
  letter-spacing: -0.4px;
}
.container-3 h4::after {
  content: "";
  display: block;
  width: 99%;
  height: 1px;
  margin: 11px auto 0 auto;
  background-color: #E6E6E6;
}
.container-3 p, .container-3 ul {
  display: block;
  color: #525252;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin-top: 11px;
  line-height: 23px;
}
.container-3 ul {
  margin-top: 33px;
}
.container-3 ul li {
  list-style: none;
  margin-left: 31px;
  margin-bottom: 19px;
  position: relative;
}
.container-3 ul li::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: #3AB6B2;
  font-weight: 900;
  font-size: 16px;
  margin-right: 10px;
  position: absolute;
  left: -31px;
  top: 1px;
}
.container-3 .mob-vers {
  display: block;
}
.container-3 .tab-vers {
  display: none;
}
.container-3 .desk-vers {
  display: none;
}
.container-3 button {
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  background-color: #3AB6B2;
  width: 138px;
  height: 42px;
  margin-top: 23px;
  padding-right: 4px;
  padding-bottom: 1px;
}

@media screen and (min-width: 768px) {
  .container-3 {
    height: 1146px;
    padding: 73px 3.38% 0 3.12%;
  }
  .container-3 h3 {
    font-size: 28.88px;
    margin-left: 3px;
  }
  .container-3 .img-container {
    margin-top: 13px;
    width: 104px;
    left: 2px;
  }
  .container-3 .img-container img {
    left: -1px;
    top: -1px;
    scale: 1.1;
  }
  .container-3 .img-container::before, .container-3 .img-container::after {
    width: 35px;
    top: 45%;
  }
  .container-3 .pic {
    height: 421px;
    margin-top: 56px;
  }
  .container-3 h4 {
    font-size: 25px;
    margin-top: 28px;
    letter-spacing: -0.5px;
  }
  .container-3 h4::after {
    margin-top: 17px;
  }
  .container-3 .mob-vers {
    display: none;
  }
  .container-3 .tab-vers {
    display: block;
  }
  .container-3 p, .container-3 ul {
    margin-top: 18px;
    margin-left: 1px;
  }
  .container-3 ul {
    margin-top: 36px;
  }
  .container-3 ul li {
    width: 80%;
  }
  .container-3 button {
    margin-left: 1px;
  }
}
@media screen and (min-width: 1024px) {
  .container-3 {
    height: 816px;
    padding: 114px 16.1% 0 15.7%;
  }
  .container-3 h3 {
    font-size: 31px;
    color: #323232;
    margin-left: 5px;
  }
  .container-3 .img-container {
    left: 2px;
    width: 108px;
  }
  .container-3 .img-container::before, .container-3 .img-container::after {
    width: 37px;
    top: 50%;
  }
  .container-3 .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-evenly;
    margin-top: 86px;
  }
  .container-3 .content .pic {
    background-color: #ffffff;
    margin: 11px 20px 0 0;
  }
  .container-3 .content .pic img {
    display: block;
    max-width: 100%;
    min-width: 280px;
    height: auto;
  }
  .container-3 .content .info {
    margin: 0;
    width: 568px;
  }
  .container-3 .content .info > h4 {
    width: 366px;
    color: #323232;
    margin-top: 6px;
    font-size: 31px;
  }
  .container-3 .content .info > h4::after {
    display: none;
  }
  .container-3 .content .info .desk-vers > p, .container-3 .content .info .desk-vers > ul {
    width: 578px;
    color: #6A6A6A;
    margin-top: 22px;
    font-size: 14px;
    line-height: 27px;
  }
  .container-3 .content .info .features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 46px;
    padding: 0 4% 0 0.5%;
  }
  .container-3 .content .info .features .feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
    margin-bottom: 51px;
    margin-right: -11px;
  }
  .container-3 .content .info .features .feature div {
    width: 75%;
    margin-right: -11.5%;
  }
  .container-3 .content .info .features .feature div h5 {
    width: 148px;
    font-size: 18px;
    color: #323232;
    letter-spacing: -0.4px;
  }
  .container-3 .content .info .features .feature div p, .container-3 .content .info .features .feature div ul {
    width: 185px;
    margin-top: 10px;
    font-size: 13px;
    line-height: 22px;
    color: #6A6A6A;
  }
  .container-3 .content .info .features .feature i {
    width: 63px;
    height: 63px;
    line-height: 63px;
    text-align: center;
    font-size: 24px;
    background-color: #3B3B3B;
    border-radius: 50%;
    color: #ffffff;
  }
  .container-3 .tab-vers {
    display: none;
  }
  .container-3 .desk-vers {
    display: block;
  }
  .container-3 button {
    display: none;
  }
}
.container-4 {
  height: 1107.82px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-start;
  color: #ffffff;
  text-align: center;
  padding: 36px 6.56% 0 5.93%;
}
.container-4 h2 {
  font-size: 27px;
  font-weight: 600;
  margin-left: 2px;
}
.container-4 .img-container {
  position: relative;
  width: 110px;
  margin: 9px auto 0 auto;
  display: inline-block;
}
.container-4 .img-container img {
  position: relative;
  left: 2px;
}
.container-4 .img-container::before, .container-4 .img-container::after {
  content: "";
  position: absolute;
  top: 56%;
  width: 33px;
  height: 1px;
  background-color: #D3D3D3;
}
.container-4 .img-container::before {
  left: 0;
}
.container-4 .img-container::after {
  right: 0;
}
.container-4 .img-container img {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.container-4 .img-container::before, .container-4 .img-container::after {
  width: 36px;
  top: 50%;
}
.container-4 .services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-start;
  margin-top: 56px;
}
.container-4 .services .service {
  margin-bottom: 43px;
}
.container-4 .services .service div {
  z-index: 0;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.container-4 .services .service h3 {
  font-size: 19px;
  color: #3AB6B2;
  margin-top: 58px;
  margin-left: 2px;
}
.container-4 .services .service p, .container-4 .services .service .container-3 ul, .container-3 .container-4 .services .service ul {
  font-family: "Open Sans", sans-serif;
  font-size: 12.98px;
  line-height: 20.88px;
  margin-top: 13px;
  width: 280px;
  margin: 13px auto 0 auto;
  letter-spacing: 0.2px;
}
.container-4 .services .service:nth-child(1) div img {
  margin-left: 3px;
  margin-top: 1px;
}
.container-4 .services .service:nth-child(2) img, .container-4 .services .service:nth-child(3) img {
  margin-left: 2px;
}
.container-4 .services .service:nth-child(2) h3, .container-4 .services .service:nth-child(3) h3 {
  letter-spacing: 0.3px;
}
.container-4 .services .service:nth-child(2) p, .container-4 .services .service:nth-child(2) .container-3 ul, .container-3 .container-4 .services .service:nth-child(2) ul, .container-4 .services .service:nth-child(3) p, .container-4 .services .service:nth-child(3) .container-3 ul, .container-3 .container-4 .services .service:nth-child(3) ul {
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  .container-4 {
    height: 1287px;
    padding-top: 72px;
  }
  .container-4 h2 {
    font-size: 28.99px;
    margin-left: 6px;
  }
  .container-4 .img-container {
    margin-top: 13px;
    width: 104px;
    left: 3px;
  }
  .container-4 .img-container img {
    left: 0.3px;
    top: -1px;
    scale: 0.95;
  }
  .container-4 .img-container::before, .container-4 .img-container::after {
    width: 35px;
    top: 35%;
  }
  .container-4 .services {
    margin-top: 58px;
  }
  .container-4 .services .service {
    margin-bottom: 74px;
  }
  .container-4 .services .service img {
    width: 125px;
  }
  .container-4 .services .service h3 {
    font-size: 20px;
    margin-top: 67px;
    margin-left: 5px;
  }
  .container-4 .services .service p, .container-4 .services .service .container-3 ul, .container-3 .container-4 .services .service ul {
    width: 300px;
    font-size: 14px;
    line-height: 22px;
    position: relative;
    left: 2px;
  }
  .container-4 .services .service:nth-child(1) div img {
    margin-left: 0px;
    margin-top: 1px;
  }
  .container-4 .services .service:nth-child(2) img, .container-4 .services .service:nth-child(3) img {
    margin-left: 0px;
    margin-top: 2px;
  }
  .container-4 .services .service:nth-child(3) h3 {
    letter-spacing: 0.1px;
  }
}
@media screen and (min-width: 1024px) {
  .container-4 {
    background-color: #202020;
    height: 783px;
    padding: 140px 0 0 0;
  }
  .container-4 h2 {
    font-size: 31px;
    margin-right: 7px;
  }
  .container-4 .img-container {
    margin-top: 6px;
    width: 111px;
    left: 0;
  }
  .container-4 .img-container img {
    top: -2px;
    left: 0;
    scale: 1;
  }
  .container-4 .img-container::before, .container-4 .img-container::after {
    width: 37px;
    top: 40%;
  }
  .container-4 .services {
    flex-direction: row;
    margin: 141px auto 0 auto;
    min-width: 61.2%;
    justify-content: space-between;
    position: relative;
    right: 2px;
  }
}
.container-5 {
  height: 843px;
  padding: 37px 6.56% 0 5.93%;
  text-align: center;
}
.container-5 h2 {
  font-size: 27px;
  font-weight: 600;
  color: #323232;
}
.container-5 .img-container {
  margin-top: 10px;
  right: 1px;
  position: relative;
  display: inline-block;
  width: 96px;
}
.container-5 .img-container::before, .container-5 .img-container::after {
  content: "";
  position: absolute;
  top: 56%;
  width: 33px;
  height: 1px;
  background-color: #D3D3D3;
}
.container-5 .img-container::before {
  left: 0;
}
.container-5 .img-container::after {
  right: 0;
}
.container-5 .img-container img {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.container-5 .gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-start;
  margin-top: 31px;
}
.container-5 .gallery .item {
  height: 163px;
  background-color: #292929;
  margin-bottom: 7px;
  position: relative;
}
.container-5 .gallery .item .socials {
  margin-top: 43.5px;
  margin-left: 1px;
  color: #ffffff;
}
.container-5 .gallery .item .socials i {
  background-color: #3AB6B2;
  width: 26.4px;
  height: 26.4px;
  border-radius: 50%;
  border: 2px solid #3AB6B2;
  line-height: 23px;
  font-size: 11px;
  margin: 0 1px;
}
.container-5 .gallery .item .socials i:hover {
  background-color: #292929;
}
.container-5 .gallery .item .socials i:nth-child(4), .container-5 .gallery .item .socials i:nth-child(5) {
  display: none;
}
.container-5 .gallery .item .details {
  background-color: #060606;
  height: 54px;
  margin-top: 39px;
  padding-top: 12px;
  padding-left: 2px;
}
.container-5 .gallery .item .details h4 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05px;
}
.container-5 .gallery .item .details h4 span {
  display: none;
}
.container-5 .gallery .item .details p, .container-5 .gallery .item .details .container-3 ul, .container-3 .container-5 .gallery .item .details ul {
  color: #3AB6B2;
  font-weight: 600;
  font-style: italic;
  font-size: 11px;
  margin-top: 3px;
  letter-spacing: 0.05px;
  margin-left: 1px;
}
.container-5 .gallery .item .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.container-5 .gallery .item:hover .cover {
  z-index: -1;
}
.container-5 .gallery .item:nth-child(5), .container-5 .gallery .item:nth-child(6), .container-5 .gallery .item:nth-child(7) {
  display: none;
}

@media screen and (min-width: 768px) {
  .container-5 {
    height: 740px;
    padding: 73px 3.38% 0 3.12%;
  }
  .container-5 h2 {
    font-size: 29px;
  }
  .container-5 .img-container {
    top: 1px;
    left: 2px;
    width: 103px;
  }
  .container-5 .img-container::before, .container-5 .img-container::after {
    width: 34px;
  }
  .container-5 .gallery {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 54px;
  }
  .container-5 .gallery .item {
    width: 225px;
    height: 229px;
    margin-bottom: 21px;
  }
  .container-5 .gallery .item:nth-child(5), .container-5 .gallery .item:nth-child(6) {
    display: block;
  }
  .container-5 .gallery .item .socials {
    margin-top: 80px;
    margin-left: -7px;
  }
  .container-5 .gallery .item .socials i {
    width: 37px;
    height: 37px;
    font-size: 14px;
    line-height: 33px;
    margin-left: 3px;
  }
  .container-5 .gallery .item .socials i:nth-child(1), .container-5 .gallery .item .socials i:nth-child(2), .container-5 .gallery .item .socials i:nth-child(3) {
    display: none;
  }
  .container-5 .gallery .item .socials i:nth-child(4), .container-5 .gallery .item .socials i:nth-child(5) {
    display: inline-block;
  }
  .container-5 .gallery .item .details {
    margin-top: 54px;
    height: 58px;
    padding-top: 14px;
  }
  .container-5 .gallery .item .details h4 {
    font-size: 12px;
    margin-left: -3px;
    letter-spacing: -0.01px;
  }
  .container-5 .gallery .item .details h4 span {
    display: inline;
  }
  .container-5 .gallery .item .details p, .container-5 .gallery .item .details .container-3 ul, .container-3 .container-5 .gallery .item .details ul {
    margin-top: 6px;
    margin-left: -4px;
    font-size: 10px;
    letter-spacing: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .container-5 {
    height: 1018px;
    padding: 106px 0 0 0;
  }
  .container-5 h2 {
    font-size: 31px;
  }
  .container-5 .img-container {
    top: 0;
    left: 0;
    width: 111px;
  }
  .container-5 .img-container::before, .container-5 .img-container::after {
    width: 37px;
    top: 50%;
  }
  .container-5 .gallery {
    margin-top: 80.1px;
    display: grid;
    height: 765px;
    grid-template-columns: 1fr 1fr 1.01fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 7.5px;
    justify-content: space-between;
    align-content: space-between;
  }
  .container-5 .gallery .item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .container-5 .gallery .item:nth-child(7) {
    display: block;
  }
  .container-5 .gallery .item:nth-child(odd):not(:last-child) {
    grid-column: span 2;
  }
  .container-5 .gallery .item .socials {
    margin-top: 160px;
    margin-left: -22px;
  }
  .container-5 .gallery .item .socials i {
    width: 46px;
    line-height: 46px;
    height: 46px;
    font-size: 17px;
    margin-left: 6px;
  }
  .container-5 .gallery .item .details {
    height: 75px;
    margin-top: 98px;
    margin-bottom: 0;
    padding-top: 16px;
  }
  .container-5 .gallery .item .details h4 {
    font-size: 17px;
    margin-right: 6px;
  }
  .container-5 .gallery .item .details p, .container-5 .gallery .item .details .container-3 ul, .container-3 .container-5 .gallery .item .details ul {
    font-size: 13px;
    margin-top: 7px;
    margin-right: 2px;
  }
}

/*# sourceMappingURL=index.css.map */
